<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 페이지입니다</title>

</head>
<body>
	<div class="wrap">
	<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2.js" charset="utf-8"></script>
		
	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
		    <div class="wrapper">
		    	<input type="hidden" name="msg" id="msg" value="${msg}" />
			    <form class="form-signin" id="frm" action="${pageContext.request.contextPath}/user/login" method="post" target="ifrm">  
			    	<input type="hidden" name="loginType" value="me" />     
				    <h2 class="form-signin-heading">로그인</h2>
				    <input type="text" class="form-control" id="id" name="id" placeholder="아이디 입력" required="아이디를 입력하세요." autofocus="" />
				    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력" required=""/>      
				    <label class="checkbox">
				    <input type="checkbox" id="autoType" name="autoType" value="N"> 로그인 상태 유지
				    </label>
				    <button class="btn btn-lg btn-primary btn-block" id="btnLogin">로그인</button>
				    <br>
					<!-- 네이버아이디로로그인 버튼 노출 영역 -->
					SNS 계정으로 간편 로그인
					<br>
					<br>
					<div id="naver_id_login"></div>
					<!-- //네이버아이디로로그인 버튼 노출 영역 -->
			    </form>
		    </div>

<!-- 네이버아디디로로그인 초기화 Script -->
<script type="text/javascript">
	var naver_id_login = new naver_id_login("uhAftfrXFj4WLSj4v1Zi", "http://bit-hojohe.com:9090/mini1-team5/jsp/view/user/userCallback.jsp");
	var state = naver_id_login.getUniqState();
	naver_id_login.setButton("white", 1, 40);
	naver_id_login.setDomain(".bit-hojohe.com");
	naver_id_login.setState(state);
	naver_id_login.setPopup();
	naver_id_login.init_naver_id_login();
</script>
<!-- // 네이버아이디로로그인 초기화 Script -->
				
			
			</div>
		</div>
		
	</div>
		
	</div>
	<iframe style="display:none;" id="ifrm" name="ifrm"></iframe>
</body>
</html>