.printCard{
	width: 233px; height: 180px;
	float: left;
	background-position: center;
    background-size: cover;
}
.cardSheet{
	width: 233px; height: 180px;
	float: left;
	background-position: center;
    background-size: cover;
}
#cardArea{ 
	border: 1px solid silver; 
	width: 850px; height: 350px;
	text-align: center;
	}
#commentArea{ 
	border: 1px solid silver; 
	width: 850px; height: 200px; 
	}
.card{ 
	margin : 20px; padding: 20px;
 	background-color: white;  
	width: 700px; height: 300px;
	text-align: center;
	}
#cardContent{ background-color: orange; }
.comment{ 
	border: 1px solid navy;
 	background-color: white;
	float: left;
	margin: 5px; padding: 5px;
	width: 250px; height: 180px;
	text-align: center;
	}
.body{
	float: left;
}
img {
	height: 70px;
	width: 70px;
}
#mapDiv {
	height: 300px;
	width: 500px;
	border: 2px solid blue;
}
#selectFeeling {
	height: 80px;
}
#selectFeeling div {
	float: left;
	margin: 0px 13px;
}
body > div {
	border: 1px solid black;
}
.side{ float: left; font-size: 20px; }
.cardHere{ float: left; }