<meta charset="utf-8">
<link rel="import" href="../include/baseInclude.html">
<style>
	th {
		width: 100px;
		text-align: center;
	}
	td {
		width: 200px;
		text-align: center;
	}
	
	tr {
		height: 50px;
	}
</style>

<div class="w3-container" id="favorite">
  <div class="w3-content" style="max-width:700px;min-height:600px;">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">FAVORITE</span></h5>
    
    	<div id="favoriteList">
    	</div>
    	<div id="favoritePage" class="w3-center w3-padding-32">
	    	<div class="w3-bar" id="myFavoritePage"></div>
	  	</div>
		<!--	카드 리스트 페이징 처리 -->
			
		<div id="favoriteDetail" style="display:none;width:100%;">
			<table border=1 style="width: 100%;">
				<tr>
					<th>글번호</th>
					<td id="favoriteNo"></td>
				</tr>
				<tr>
					<th>해시태그</th>
					<td id="favoriteTag"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td id="favoriteContent"></td>
				</tr>
				<tr>
					<th>기분</th>
					<td id="favoriteFeeling"></td>
				</tr>
				<tr>
					<th>등록시각</th>
					<td id="favoriteDate"></td>
				</tr>
				<tr>
					<td colspan="2"><a href="">목록</a></td>
				</tr>
			</table>
			
		</div>
	  
  </div>
</div>




<script src="../../js/myFavorite/myFavorite.js"></script>
