<title>AROUND</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../css/comm/bootstrap.min.css">
<link rel="stylesheet" href="../../css/include/header.css">
<link rel="stylesheet" type="text/css" href="../../css/comm/sweetalert.css">

<script src="../../js/comm/jquery.min.js"></script>
<script src="../../js/comm/bootstrap.min.js"></script>
<script src="../../js/comm/sweetalert.min.js"></script>
<script type="text/javascript" src="../../js/main/main.js"></script>
