<!DOCTYPE html>
<html>
<head>
<link rel="import" href="../include/baseInclude.html">

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="151296050428-7up6bf2212jt0j9n3qeqm01b6r01q6ed.apps.googleusercontent.com">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="../../css/user/signInForm.css">

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="https://apis.google.com/js/api:client.js"></script>

</head>
<body>

	<!-- Contact section -->
	<div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact" style="over-flow:hidden;">
	  <div class="w3-content" style="max-width:620px">
	    <h4 class="w3-center"><b>A R O U N D</b></h4>
	    <br>
	    <h6 class="w3-center"><p> A R O U N D 로그인을 하시면 우리 주변에서 일어나는 진짜 이야기와</p></h6>
	    <h6 class="w3-center"><p> 다양한 정보를 얻으실 수 있습니다 :-) </p></h6>
		<br>
		<div class="w3-content">	    
		    <a id="custom-login-btn" href="javascript:loginWithKakao()" style="margin-left: 35%;"> 
				<img src="../../img/main/kakaolink_btn_medium.png" />
			</a>
			<div id="customBtn">
				<img style="width:82px; height:83px"src="../../img/main/btn_google_light_normal_ios@3x.png">
			</div>
		</div>
		<br>
	    <h6 class="w3-center"><p> SNS 간편 로그인을 통해 기존에 사용하시는 계정 로그인으로  </p></h6>
	    <h6 class="w3-center"><p> 회원가입까지 한번에 가능합니다.</p></h6>
	      <div class="w3-group">
	        <label>Email</label>
	        <input class="w3-input w3-border" type="text" name="Email" placeholder="이메일 입력" required>
	      </div>
	      <div class="w3-group">
	        <label>Password</label>
	        <input class="w3-input w3-border" type="Password" name="Password" placeholder="비밀번호 입력" required>
	      </div>
	      <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Sign In</button>
	  </div>
	</div>


	<div w3-include-html="../include/footer.html"></div>
	
	<script src="../../js/user/signInForm.js"></script>
</body>
</html>