<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글 등록</title>
<style>
#mapDiv {
	height: 300px;
	width: 500px;
	border: 2px solid blue;
}

img {
	height: 70px;
	width: 70px;
}
#selectFeeling {
	height: 80px;
}
#selectFeeling div {
	float: left;
	margin: 0px 13px;
}
body > div {
	border: 1px solid black;
}
</style>
<script src="../../js/comm/jquery.min.js"></script>
<script src="../../js/card/insertCardForm.js"></script>
<script src="../../js/comm/googleMapApi.js"></script>
</head>
<body>
	<div>
		
		<div id="content">
			<button onclick="getLocation()">내 위치 조회</button>
			<div id="mapDiv"></div>
			
			<br>
			
			<form action='/b90m2t4/card/insert.do' method='post' enctype="multipart/form-data">
			
				<div id="textDiv">
					당신의 이야기를 들려주세요...
					<br>
					<textarea id="cardContent" rows="7" cols="70"></textarea>
					<div id="count">/140</div>
				</div>
				<br>
				
				<div id="fileDiv">
					파일 등록
					<input type="file" id="cardImg" name="cardImg" onchange="loadFile(event)"/>
				</div>
				<br>
				
				<div id="hashtagDiv">
					해시태그 등록
					<button type="button" id="hashtagPopup"
						onclick="javascript:popupOpen();">#추가</button>
					<input type="text" id="hashtagText" /><br>
				</div>
				<br>
				
				<div id="selectFeeling">
					<div>
						<img src="../../img/card/verygood.jpg" /><br>
						<input type="radio" id="verygood" name="cardFeeling" value="1" />
					</div>
					<div>
						<img src="../../img/card/good.png" /><br>
						<input type="radio" id="good" name="cardFeeling" value="2" />
					</div>
					<div>
						<img src="../../img/card/soso.png" /><br>
						<input type="radio" id="soso" name="cardFeeling" value="3" checked />
					</div>
					<div>
						<img src="../../img/card/bad.png" /><br>
						<input type="radio" id="bad" name="cardFeeling" value="4" />
					</div>
					<div>
						<img src="../../img/card/terrible.png" /><br>
						<input type="radio" id="terrible" name="cardFeeling" value="5" />
					</div>
				</div>
				<br>
				
				<input type="hidden" id="cardLongitude" value="36.34" />
				<input type="hidden" id="cardLatitude" value="127.34" />
				
				<button type="button">취소</button>
				<button>등록</button>
				
			</form>
		</div>
	</div>
	
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWJxPZFiG_3QbcXlfIG71_VGDDUuZS5Oc&callback=initMap"></script>
</body>
</html>
