<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글 등록</title>
<style>
#mapDiv {
	height: 300px;
	width: 500px;
	border: 2px solid red;
}
</style>
<script src="../../js/comm/jquery.min.js"></script>
<script src="../../js/card/insertCardForm.js"></script>
</head>
<body>
	<div>
		<div>당신의 이야기를 들려주세요...</div>
		<div id="content">
			<div id="textDiv">
			<form>
				<textarea id="textarea" rows="10" cols="50"></textarea>
			</form>
			<div id="count">/140</div>
			<div>
				파일 등록
			</div>
			</div>
			<button onclick="getLocation()">내 위치 조회</button>
			<div id="mapDiv"></div>
			<div id="MyCurrentPosition"></div>
			<div id="hashtagDiv">
				<form id="hashtagForm">
					<button type="button" id="hashtagPopup" onclick="javascript:popupOpen();">#추가</button>
					<input type="text" id="hashtagText" /><br>
					<button>등록</button>
					<button type="button">취소</button>
				</form>
			</div>
			<div id="buttonDiv">
			</div>
		</div>
	</div>
	
<script async defer	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWJxPZFiG_3QbcXlfIG71_VGDDUuZS5Oc&callback=initMap"></script>
</body>
</html>
