<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>해시 태그 등록창</title>
<style>
	#tagList {
		width: 100%;
		height: 200px;
		border: 1px solid bliack;
	}
</style>
<script src="../../js/comm/jquery.min.js"></script>
</head>
<body onload="hashtagInput.focus()">
	
	<h3>해시태그를 입력하세요.</h3>
	<input id="hashtagInput" value="#" size="50"/>
	<div id="tagList"></div>
	Enter!
	<script>
	$("#hashtagInput").keyup( function(e) {
		if (e.keyCode == 13) {
			opener.document.getElementById("hashtagText").value += " ";
			opener.document.getElementById("hashtagText").value += $("#hashtagInput").val();
			self.close();
		}
		console.log($("#hashtagInput").val());
		$.ajax({
			url : "/b90m2t4/card/retrieveHashtag.do",
			type : "POST",
			data : {"hashtagInput" : $("#hashtagInput").val()},
			dataType : "json"
		}).done( function(list) {
			console.log(list);
			var text = "";
			if (list.length != 0) {
				for (var i = 0; i < list.length; i++) {
					text += "<li>" + list[i].hashtagContent + "</li>";
				}
			$("#tagList").html(text);
			};
		});
	});
	</script>
</body>
</html>
