<meta charset="UTF-8">
<script src="../../js/card/insertCardForm.js"></script>
<script src="../../js/comm/googleMapApi.js"></script>

<!--	카드 컨테이너 -->
<div class="bgimg w3-display-container w3-grayscale-min" id="write">
<div class="w3-container" style="padding-bottom:32px;">
	<div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-40"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">WRITE</span></h5>

<!-- 			<button onclick="getLocation()">내 위치 조회</button> -->
		<div id="mapDiv"></div>
		<br>

		<form id="cardInsert" name="cardInsert" method="post" enctype="multipart/form-data">

			<div id="textDiv">
				당신의 이야기를 들려주세요... <br>
				<textarea id="cardContent" name="cardContent" rows="7" cols="70"></textarea>
				<div id="count">0/140</div>
			</div>
			<br>

			<div id="fileDiv">
				파일 등록 <input class="w3-input w3-padding-16 w3-border" type="file"
					id="cardImg" name="cardImg">
			</div>
			<br>

			<div id="hashtagDiv">
				해시태그 등록
				<button type="button" id="hashtagPopup"	onclick="javascript:popupOpen();">#추가</button>
				<input class="w3-input w3-padding-16 w3-border" readonly type="text" id="cardHashtag" name="cardHashtag"><br>
			</div>
			<br>

			<div id="selectFeeling">
				<div>
					<img src="../../img/card/verygood.jpg"
						onclick="document.getElementsByName('cardFeeling')[0].checked=true; setImageRadio();" /><br>
					<input type="radio" id="cardFeeling" name="cardFeeling" value="1" />
				</div>
				<div>
					<img src="../../img/card/good.png"
						onclick="document.getElementsByName('cardFeeling')[1].checked=true; setImageRadio();" /><br>
					<input type="radio" id="cardFeeling" name="cardFeeling" value="2" />
				</div>
				<div>
					<img src="../../img/card/soso.png"
						onclick="document.getElementsByName('cardFeeling')[2].checked=true; setImageRadio();" /><br>
					<input type="radio" id="cardFeeling" name="cardFeeling" value="3"
						checked />
				</div>
				<div>
					<img src="../../img/card/bad.png"
						onclick="document.getElementsByName('cardFeeling')[3].checked=true; setImageRadio();" /><br>
					<input type="radio" id="cardFeeling" name="cardFeeling" value="4" />
				</div>
				<div>
					<img src="../../img/card/terrible.png"
						onclick="document.getElementsByName('cardFeeling')[4].checked=true; setImageRadio();" /><br>
					<input type="radio" id="cardFeeling" name="cardFeeling" value="5" />
				</div>
			</div>
			<br>
			
			<input type="hidden" id="cardLongitude"	name="cardLongitude" value="longitude">
			<input type="hidden" id="cardLatitude" name="cardLatitude" value="latitude">

			<button class="w3-button w3-black" type="button" id="cancle">취소</button>
			<button class="w3-button w3-black" type="submit">등록</button>

		</form>
	</div>
</div>
</div>
