<meta charset="UTF-8">
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #markerMap {
    height: 100%;
  }
</style>


<div class="w3-container" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:100%">

	<div id="divDistance" style="margin:0px auto;">
		<h2 style="margin-left: 48%;"">거리 <p id="distanceResult">200m</p></h2>
		<br>
		<input id="markerRange" type="range" name="range"
        min="200" max="1000" step="200" value="200" style="max-width:100%" />
        <p style="float:left;">200m</p>
        <p style="padding-left: 99%;">1km</p>
        
 		<div id="markerMap" style="width:100%; height:600px;"></div>
  	</div>
 	</div>
</div>
<script src="../../js/comm/markerMap.js"></script>
