<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>detail</title>
<script src="../../js/comm/jquery.min.js"></script>
<style>
#cardArea{ border: 1px solid silver }
#commentArea{ border: 1px solid silver }
</style>
</head>
<body>
	<h1> A R O U N D </h1>
	<h4> (임시)카드 상세조회 페이지 </h4>
<div class="container">
	<div class="body">
		
		<div id="cardArea"></div>
		
		<div id="commentArea"></div>

	</div>
</div>
<script>
	function summonCard(){
// 		$.ajax({
// 			url: "/b90m2t4/card/retrieveList.do",
// 			type: "POST",
// 			dataType: "json"
// 		})
		console.log("카드 소환")
		$.ajax({
			url: "/b90m2t4/card/retrieve.json",
			type: "POST",
			data: {no: 1},
			dataType: "json"
		})
		.done(makeCard);
		
		$.ajax({
			url: "/b90m2t4/card/retrieveCommentList.json",
			type: "POST",
			data: {no: 1},
			dataType: "json"
		})
		.done(makeComment);
	}
	
	function makeCard(card){
		console.log("카드만들기")
		
		var html = "";
			html += '<div class="card">';
			html += card.cardContent + '<br><br>';
			html += card.cardHashtag + '<br><br>';
			html += card.cardFeeling + '<br><br>';
			html += card.cardRegDate + '<br><br>';
		
		if (card == null){
			html += '카드가 존재하지 않습니다 <br><br>';
		}
		$("#cardArea").html(html);
	}
	
	function makeComment(comments){
		var html = "";
			html += '<div class="comment">';
		for (var i = 0 ; i < comments.length ; i++ ){
			var comment = comments[i];
			html += comment.commentContent + '<br><br>';
		}
		
		if (comments == null){
			html += '아무도 이 카드에 반응하지 않았습니다 <br><br>';
		}
		$("#commentArea").html(html);
	}
	
	summonCard();
</script>
</body>
</html>