<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글 등록</title>
<style>
#mapDiv {
	height: 300px;
	width: 500px;
	border: 2px solid red;
}
</style>
<script src="../../../js/comm/jquery.min.js"></script>

</head>
<body>
	<div>
		<div>당신의 이야기를 들려주세요...</div>
		<div id="content">
			<div id="textDiv">
			<form>
				<textarea id="textarea" rows="10" cols="50"></textarea>
			</form>
			<div>
				파일 등록
			</div>
			<div id="count">/140</div>
			</div>
			<button onclick="getLocation()">내 위치 조회</button>
			<div id="mapDiv"></div>
			<div id="MyCurrentPosition"></div>
			<div id="hashTagDiv">
				<form id="hashTagForm">
					<button type="button" id="hashTagPopup" onclick="javascript:popupOpen();">#추가</button>
					<input type="text" id="hashTagText" /><br>
					<button>등록</button>
					<button type="button">취소</button>
				</form>
			</div>
			<div id="buttonDiv">
			</div>
		</div>
	</div>
	
	
	<script>
		// 글자수 제한 및 글자수 표시
		$(document).ready(function () {
			$('#textarea').on('keyup', function () {
				if($(this).val().length > 140) {
					alert('글자수는 140자 까지입니다.');
					$(this).val($(this).val().substring(0, 140));
				}
				$('#count').html($(this).val().length + '/140');
			});
		});
		
		function popupOpen() {
			var popUrl = "insertFormPopup.html";
			var popOption = "width=400, height=200, resizable=yes, scrollbars=yes, status=no";
				window.open(popUrl, "", popOption);
		}
		
		
		
		
		
		// 지도 관련 스크립트 
		
		
		// 	var x = document.getElementById("MyCurrentPosition");
		var latitude;
		var longitude;
		function getLocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition, showError);
			} else {
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
		}

		function showPosition(position) {

			latitude = position.coords.latitude;
			longitude = position.coords.longitude;

			initMap();

			/*
			x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
			var locations = [['center', position.coords.latitude, position.coords.longitude], ['friends1', 37.4938, 127.023], ['friends2', 37.4921, 127.026]];
			var mapOptions = {
				zoom: 13,
				center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
			};
			var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
			for (i = 0 ; i < locations.length ; i++) {
				var myLatLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
				var marker = new google.maps.Marker({
					position: myLatLng,
					map : map,
					title : locations[i][0]
				});
				marker.setMap(map);
			}
			*/
			// To add the marker to the map, call setMap();
		}

		function showError(error) {
			switch (error.code) {
			case error.PERMISSION_DENIED :
				x.innerHTML = "User denied the request for Geolocation."
				break;
			case error.POSITION_UNAVAILABLE :
				x.innerHTML = "Location information is unavailable."
				break;
			case error.TIMEOUT :
				x.innerHTML = "The request to get user location timed out."
				break;
			case error.UNKNOWN_ERROR :
				x.innerHTML = "An unknown error occurred."
				break;
			}
		}

		function initMap() {

			var myLatlng = {
				lat : latitude,
				lng : longitude
			};

			var map = new google.maps.Map(document.getElementById('mapDiv'), {
				zoom : 15,
				center : myLatlng
			});

			var marker = new google.maps.Marker({
				position : myLatlng,
				map : map,
				title : 'Click to zoom'
			});

// 			map.addListener('center_changed', function() {

// 				// 3 seconds after the center of the map has changed, pan back to the
// 				// marker.
// 				window.setTimeout(function() {
// 					map.panTo(marker.getPosition());
// 				}, 3000);
// 			});

			marker.addListener('click', function() {
// 				map.setZoom(8);
				alert("포지션값 : " + marker.getPosition());
			});
		}
	</script>
	<script async defer	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWJxPZFiG_3QbcXlfIG71_VGDDUuZS5Oc&callback=initMap"></script>
</body>
</html>
