<!DOCTYPE html>
<html>
<head>
	<link rel="import" href="../include/baseInclude.html">
	<script src="../../js/main/main.js"></script>
	<script src="../../js/comm/w3data.js"></script>
</head>

<body>
	<div w3-include-html="../include/header.html"></div>

	<div id="content" class="product">
		<div class="proList">
	    	<div class="option">
		    <div class="wrapper">
		    	<input type="hidden" name="msg" id="msg" value="${msg}" />
			    <form class="form-signin" id="frm" action="${pageContext.request.contextPath}/user/login" method="post" target="ifrm">  
			    	<input type="hidden" name="loginType" value="me" />     
				    <h2 class="form-signin-heading">로그인</h2>
				    <input type="text" class="form-control" id="id" name="id" placeholder="아이디 입력" required="아이디를 입력하세요." autofocus="" />
				    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호 입력" required=""/>      
				    <label class="checkbox">
				    <input type="checkbox" id="autoType" name="autoType" value="N"> 로그인 상태 유지
				    </label>
				    <button class="btn btn-lg btn-primary btn-block" id="btnLogin">로그인</button>
				    <br>
					<!-- 네이버아이디로로그인 버튼 노출 영역 -->
					SNS 계정으로 간편 로그인
					<br>
					<br>
					<div id="naver_id_login"></div>
					<!-- //네이버아이디로로그인 버튼 노출 영역 -->
			    </form>
		    </div>
			</div>
		</div>
	</div>

	<div w3-include-html="../include/footer.html"></div>

	<script>
		w3IncludeHTML();
	</script>
</body>
</html>