<!DOCTYPE html>
<html>
<link rel="import" href="../include/baseInclude.html">

<body>

<div w3-include-html="../include/header.html"></div>
<br>
<br>
<br>
<!-- 카드 지도 페이지  -->
	<div id="divMarkerMap" style="height:750px;width:100%;"></div>
	
<!-- 카드 목록조회 페이지  -->
	<div id="cardList"></div>

<!-- MyFavorite 페이지  -->
	<div id="myFavorite"></div>

<!-- insert 페이지 -->
	<div id="insertCard"></div>

<!-- about 페이지 -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">ABOUT</span></h5>
  
    <div class="w3-row w3-center w3-card-2 w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'headyFeeling');" id="myLink">
        <div class="w3-col s6 tablink">오늘의 기분</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'calendar');">
        <div class="w3-col s6 tablink">달력</div>
      </a>
    </div>

    <div id="headyFeeling" class="w3-container menu w3-padding-48 w3-card-2">
      <h5>HEADY FEELING</h5>
      <p class="w3-text-grey">NO DATA</p>
    </div>

    <div id="calendar" class="w3-container menu w3-padding-48 w3-card-2">
      <h5>CALENDAR</h5>
      <p class="w3-text-grey">NO DATA</p><br>
    </div>  
  </div>
</div>


<!-- End page content -->

<div w3-include-html="../include/footer.html"></div>

<script>
w3IncludeHTML();
var cardNo = 1;

$(function (){
	$("#divMarkerMap").load("../card/markerMap.html");
	$("#cardList").load("../card/retrieveCardList.html");
	$("#myFavorite").load("../myFavorite/myFavorite.html");
	$("#insertCard").load("../card/insertCardForm.html");
	$("#resetList").on("click", function(){
		$("#cardList").load("../card/retrieveCardList.html");
	})
});

function resetList(){
	console.log("리셋 리스트 펑션");
	$("#cardList").load("../card/retrieveCardList.html");
}

function openMenu(evt, menuName) {

	  var i, x, tablinks;
	  x = document.getElementsByClassName("menu");
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablink");
	  for (i = 0; i < x.length; i++) {
	     tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
	  }
	  document.getElementById(menuName).style.display = "block";
	  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
	  
}
document.getElementById("myLink").click();
	
</script>
<iframe src="http://around.com:10001" style="display:none;"></iframe>
</body>
</html>
